body{
    margin: 0;
}

/*conatiners*/
.full_conatiner{
    width: 100%;
    margin: 0 auto;
}
.container{
    width: 820px;
    margin: 0 auto;
}

/*header*/
.header_bg{
    display: flex;
    align-items: center;

    height: 60px;
    background-color: #787D46;
}
.header_side{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.header_side a{
    cursor: pointer;
    text-decoration: none;
}
.header_wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav_btn{
    width: 55px;
    height: 50px;
    border: 1px solid transparent;
    border-radius: 15px;
}
.menu{
    background-color: #C5CE66;
    background-image: url(png/menu_line.png);
}
.menu:hover{
    opacity: 0.9;
}
.logo{
    display: flex;
    background-image: url(png/Logo.png);
    border-radius: 50px;
    width: 55px;
    height: 50px;
    border: 1px solid transparent;
}
.logo:hover{
    opacity: 0.9;
}
.account{
    display: flex;
    background-color: #D1813B;
    background-image: url(png/account_icon.png);
}
.account:hover{
    opacity: 0.9;
}
.basket{
    background-color: #171513;
    background-image: url(png/white_basket_icon.png);
}
.basket:hover{
    opacity: 0.9;
}
.menu , .logo , .account, .basket{
    background-position: center;
    background-size: cover;
}